.MyRequestCard {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    min-width: 12vw;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #E3F0FF;
    min-height: 20vh;


}

.MyRequestCard:hover {
    transform: scale(1.04);
    cursor: pointer;


}

.PickupLocation {
    flex: 1;
    text-align: center;
    font-size: large;
    margin-bottom: 2px;
}

/* .RatingDescription {} */