.RequestCard {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;

  min-width: max-content;
  background-color: #e3f0ff;
  /* background-color: rgb(236, 219, 222); */
  /* background-color: #ABE3FF; */
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 20vh;
}

.Head {
  display: flex;
  font-size: medium;
  padding: 5px;
  margin-bottom: 10px;
}

.Username {
  margin-right: 20px;
}

.Phone {
  text-align: right;
}

.DropLocation {
  text-align: center;
  font-size: large;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.Items {
  text-align: center;
  font-size: large;
  margin-bottom: 5px;
}

.Footer {
  font-size: small;
  margin-top: 5px;
  border-top: 1px solid rgb(185, 185, 185);
  padding: 5px;
  display: flex;
  bottom: 0;
  /* position: absolute; */
}

.Date {
  text-align: start;
  flex: 1;
}

.Time {
  text-align: end;
  flex: 1;
}

.delete-div {
  align-self: center;
}

/* .RequestDescriptionDialog {
  width: 2000px;
  height: 900px;
} */

.outerdiv {
  display: flex;
  flex-direction: horizontal;
  align-items: start;
}

.detailsdiv {
  flex: 2 !important;
}

.mapdiv {
  flex: 3 !important;
  vertical-align: top !important;
  margin-left: 40px;
  margin-top: 20px;
}

.RequestDescriptionDialogText {
  font-size: x-large !important;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  /* background-color: pink !important; */
}

.RequestDescriptionDialogTitle {
  font-size: xx-large !important;
  text-align: center;
  /* background-color: rgb(236, 219, 222) !important; */
  background-color: rgb(219, 236, 236) !important;
}

.RequestDescriptionDialogButtonDiv {
  display: flex;
  align-items: center;
}

.RequestDescriptionDialogButton {
  flex: 1;
  margin-top: 20px !important;
  font-size: medium !important;
  align-items: center !important;
  font-weight: 545 !important;
  color: #03dac6 !important;
  border-color: #03dac6 !important;
}

.RequestDescriptionDialogButton:hover {
  flex: 1;
  margin-top: 20px !important;
  font-size: medium !important;
  align-items: center !important;
  font-weight: 545 !important;
  color: white !important;
  /* background-color: rgb(240, 79, 79) !important; */
  background-color: #03dac6 !important;
  border-color: #03dac6 !important;
}

.RequestDescriptionDialogItems {
  text-align: center;
}
