.RequestCard {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;

    min-width: max-content;
    background-color: #E3F0FF;
    /* background-color: #E6F4F1; */
    /* background-color: #ABE3FF; */
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 20vh;
}

.Head {
    display: flex;
    font-size: medium;
    padding: 5px;
    margin-bottom: 10px;

}

.Username {
    margin-right: 20px;
}

.Phone {
    text-align: right;
}

.DropLocation {
    text-align: center;
    font-size: large;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(185, 185, 185);

}

.Items {
    text-align: center;
    font-size: large;
    margin-bottom: 5px;
}


.Footer {
    font-size: small;
    margin-top: 5px;
    border-top: 1px solid rgb(185, 185, 185);
    padding: 5px;
    display: flex;
    bottom: 0;
    /* position: absolute; */
}

.Date {
    text-align: start;
    flex: 1;
}

.Time {
    text-align: end;
    flex: 1;
}