.MyRequestCards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* margin-left: 40px; */
}

.bgvir {
  margin-top: 30px;
}

.ViewMyRequests {
  margin-top: 40px;
  margin-left: 240px;
  padding-top: 40px;
  padding-left: 20px;
}

.Nothing {
  font-size: x-large;
  align-items: center;
  margin-left: 20px;
}
