.MyRequestCards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 40px;
}

.ViewMyRequests {
  margin-top: 30px;
  margin-left: 40px;
  padding-top: 40px;
}

.Nothing {
  font-size: x-large;
  align-items: center;
  margin-left: 20px;
}
