.HistoryRequestCards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* margin-left: 240px; */
  /* margin-left: 40px; */
}

.YourHistory {
  margin-bottom: 20px;
  /* font-weight: bold; */
  font-size: x-large;
}

.bgvir {
  margin-top: 30px;
}

.map {
  margin-top: 40px;
  /* margin-left: 240px; */
  /* height: 400px;
  width: 400px; */
  z-index: 1;
}

.ViewMyHistory {
  margin-top: 40px;
  margin-left: 240px;
  padding-top: 40px;
  padding-left: 20px;
}

.Nothing {
  font-size: x-large;
  align-items: center;
  margin-left: 240px;
}
